[submodule "src/workbench/bootleg/blog"]
	path = src/workbench/bootleg/blog
	url = git@bitbucket.org:made-in-katana/bootleg-blog
	branch = master
[submodule "src/workbench/mikthemes/coolaccidents"]
	path = src/workbench/mikthemes/coolaccidents
	url = git@bitbucket.org:made-in-katana/cool-accidents-site.git
	branch = coolaccidents-blog
[submodule "src/workbench/bootleg/search"]
	path = src/workbench/bootleg/search
	url = git@bitbucket.org:made-in-katana/bootleg-search.git
	branch = master
[submodule "src/workbench/bootleg/gallery"]
	path = src/workbench/bootleg/gallery
	url = git@bitbucket.org:made-in-katana/bootleg-gallery.git
