.marquee-tag{
    position:absolute;
    cursor:pointer;
}
.marquee-tag.tag-preview{
    border-radius:3px;
    border:1px dashed rgba(0,0,0,0.5);
}
.marquee-tag.tag-preview.selected:before{
    background-color:rgba(255,0,0,0.5);
}
.marquee-tag.tag-preview:before{
    position:absolute;
    content:' ';
    left:-5px;
    right:-5px;
    top:-5px;
    bottom:-5px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.5);
    border:5px solid rgba(0,0,0,0.25);
}
.taggable_image_outer,
.taggable_image_inner{
    display:inline-block;
    position:relative;
    overflow:hidden;
    text-align:center;
}
.taggable_image_inner > img{
    width:100%;
}
.tag-edit-row{
    padding:10px;
    cursor:pointer;
    border-radius:5px;
}
.tag-edit-row:hover{
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    background-color:#d9edf7;
}