.btn-cms-primary {
  background-color: $primary-color !important;
  color: #fff;
  i + span, span + i {
    padding-left: 5px;
  }
  i {
    color: #000;
  }
  &:hover {
    background-color: darken($primary-color, 7%) !important;
    color: #fff;
  }
}

.btn-cms-primary-inverse {
  background-color:$gray-darkest;
  color:#fff;
  i + span, span + i {
    padding-left: 5px;
  }
  &:hover {
    background-color: darken($gray-darkest, 10%);
  }
}

.text-cms-primary {
  color: $primary-color !important;
}

.jstree-node[aria-selected="true"] > .jstree-wholerow {
  background: $primary-color !important;
}
