.btn-wide {
  width:100%;
}

.btn,
.sidebar-menu-items a,
.nav-tabs a {
  i, span, & {
    transition: border-color 200ms linear, background-color 200ms linear;
  }
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
  outline:0;
}
