// BASE COLOURS

$gray-darkest: #1F2021;
$gray-darker: #3B3C3D;
$gray-dark: #464748;
$gray: #CECFD0;
$gray-light: #D6D7D9;
$gray-lighter: #F2F4F5;
$gray-lightest: #F6F7F8;

// MISC VARIABLES

$global-border-radius: 3px;
$grid-gutter-width: 30px;
$gutter-half: $grid-gutter-width / 2;
$icon-font-path: '../components/bootstrap-sass/assets/fonts/bootstrap/';

$web-font-path: "http://fonts.googleapis.com/css?family=Roboto:500italic,600italic,700italic,500,600,700&subset=latin";
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
