.treeContainer {
  overflow: auto;
  bottom: 65px;
  background-color:$gray-light;
  padding: 0 !important;
  .page-header {
    padding: 15px;
    margin: 0;
  }
}

.treeOptions {
  bottom: 0;
  position: fixed;
  height: 65px;
  padding: 10px !important;
  background-color:$gray-lighter;
  a {
    display: block;
  }
}

.vakata-context {
  z-index: 1050;
}

#jstree-marker {
  z-index: 9999;
}


.jstree-node.jstree-open {
  background: $grey-lightest !important;
  > ul > li .jstree-wholerow {
    background: darken($grey-lighter, 4%);
    &.jstree-wholerow-hovered {
      background: $gray-dark;
    }
  }
}

.jstree-node[aria-selected="true"] {
  background-color: $primary-color;
}
