$icon-font-path: '../components/bootstrap-sass/assets/fonts/bootstrap/';
@import '../components/bootstrap-sass/assets/stylesheets/bootstrap'; 


@import '../components/fontawesome/scss/font-awesome.scss';

//JS Tree css
@import '../components/jstree/dist/themes/default/style.css'; 

//fileupload from blueimp
@import '../components/blueimp-file-upload/css/jquery.fileupload.css'; 
 
//tag input form.
@import '../components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css';

@import '../components/bootstrap-sass-datepicker/sass/datepicker.scss';

@import '../components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css';

//COMPASS STUFF CAN BE ADDED/REMOVED AS WE NEED
/*@import "compass/reset";            
@import "compass/utilities"; 
@import "compass/css3";*/