/*
some standard import files - plugins, bootstrap etc..  
*/
@import "base";


/* 
CMS SCSS in here 
TODO: figure out a nice way of formatting this correctly. 
*/  
 
/*
Some globals
*/


$gutter-half: $grid-gutter-width/2;

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*fix for bootstrap bug. fix is apparently coming soon for this.*/
.container-fluid {
    padding: 0 $gutter-half;
}

/*
 * Global add-ons
 */



/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
 /* Scrollable contents if viewport is shorter than content. */
        background-color: $well-bg;
        border-right: 1px solid #eee;
    }
}

/*
 * Main content
 */

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display:none;
}

.main {
    padding: 20px;
}


.main .page-header {
    margin-top: 0;
}

.table > tbody > tr > td.vertical-middle{
    vertical-align:middle;
}


.nav-sidebar {
    .menu-additional{
        position: absolute;
        left: 0;
        padding: $gutter-half;
        bottom: 0;
        right: 0;
        h2{
            font-size: 1.5em;
        }
    }    
}

.page-header{
    margin-top: 0;
}

.treeContainer{
    overflow:auto;
    bottom: 60px;
    .page-header{ 
        padding: 0 $gutter-half $gutter-half $gutter-half;
        margin: 0;
        margin-left: -$gutter-half;
        margin-right: -$gutter-half;
    }
}

.treeOptions{
    bottom: 0;
    position: fixed;
    height: 60px;
    padding: $gutter-half;
    background: $well-bg;
    border-top: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
}

.vakata-context{
    z-index:50;
}

#jstree-marker{
    z-index:9999;
}

.form-signin {
    max-width: 330px;
    padding: $gutter-half;
    margin: 0 auto;
}


form.main-form{
    .edit-content-tab{
        padding:$gutter-half 0 0 0;
    }
     
    ul{
        list-style:none;
        padding:0;
        
        li{
            div.bootstrap-tagsinput{
                display:block;
            }

            div.upload{
                
                table.uploaded{
                    td.preview-wrap{
                        text-align:center;
                     
                        span.preview img{
                            max-height: 100px;
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }
}

.dash-item{
    

}

