.btn-cms-primary {
  background-color: $primary-color !important;
  color: #fff;
  i {
    color: #000;
  }
  &:hover {
    background-color: darken($primary-color, 7%) !important;
    color: #fff;
  }
}

.btn-cms-primary-inverse {
  background-color:$gray-darkest;
  color:#fff;
  &:hover {
    background-color: darken($gray-darkest, 10%);
  }
}
