.page-header {
  margin-top: 0;
}

.nav-tabs {
  margin-bottom: $gutter-half;
}

.navbar-brand {
  > img {
    max-height: 40px;
    margin: -10px 0;
  }
}

.navbar {
  background-color: $navbar-default-bg;
  .nav.navbar-nav {
    //display: table-row;
    font-weight: 600;
    > li {
      //display: table-cell;
      vertical-align: middle;
      height: $navbar-height;
      padding: 0 20px;
      > a {
        color: #fff;
        line-height: $navbar-height;
        display: block;
        padding-top:0;
        padding-bottom:0;
        &:hover {
          text-decoration: none;
          background-color:transparent;
        }
      }
      i {
        padding-left: 5px;
      }
      &.navbar-sidebar-collapse {
        padding-left: 0;
        padding-right: 0;
      }
      &.cms-logo.no-padding {
        padding-left: 0;
        padding-right: 0;
      }
      &.navbar-user {
        background-color:$gray-darkest;
        color:#fff;
        .navbar-user-avatar {
          display:inline-block;
          vertical-align:middle;
          > img {
            max-height:50px;
            margin:10px auto;
            border-radius:50%;
          }
        }
        .navbar-user-summary {
          padding:0 20px 0 10px;
        }
        .navbar-user-avatar, .navbar-user-summary, .logout-button {
          display:inline-block;
          vertical-align:middle;
        }
      }
    }
  }
}
