.page-header {
  margin-top: 0;
}

.nav-tabs {
  margin-bottom: $gutter-half;
}

.navbar-brand {
  > img {
    max-height: 40px;
    margin: -10px 0;
  }
}

.navbar {
  background-color: $navbar-color;
  display: table-row;
  font-weight: 600;
  > div {
    display: table-cell;
    vertical-align: middle;
    height: $navbar-height;
    padding: 0 20px;
    > a {
      color: #fff;
      line-height: $navbar-height;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
    i {
      padding-left: 5px;
      color: $primary-color;
    }
    &.navbar-title {
      span {
        color: $grey-light;
        line-height: 1;
        display: block;
      }
    }
    &.navbar-sidebar-collapse, &.navbar-logo-image {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
